.post {
  border: 1px solid lightgray;
  width: fit-content;
  margin-bottom: 45px;
  background-color: #ffffff;
  max-width: 500px;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__text {
  padding: 10px;
  text-align: left;
  font-weight: normal;
}

.post__header {
  /* flex by default throws it into a row */
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.post__avatar {
  margin-right: 10px;
}
